### Transfering CSV Data to Postgre SQL

In [16]:
import pandas as pd 
from sqlalchemy import create_engine
import psycopg2

In [17]:
df = pd.read_csv(r"C:\Users\HP\Desktop\python\Walmart_Analysis\walmart_clean.csv")
df.head()

,Unnamed: 0,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-05-01,13:08:00,Ewallet,9.1,0.48,522.83
1,1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-08-03,10:29:00,Cash,9.6,0.48,76.40
2,2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31
3,3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76
4,4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-08-02,10:37:00,Ewallet,5.3,0.48,604.17

In [20]:
df.columns

Index(['Unnamed: 0', 'invoice_id', 'Branch', 'City', 'category', 'unit_price',
       'quantity', 'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'total'],
      dtype='object')

In [21]:
df.columns = df.columns.str.lower()

In [23]:
engine_psql = create_engine("postgresql+psycopg2://postgres:Banti0000x@localhost:5432/Walmart_db")

try:
    engine_psql
    print("Connection Succesfully")
except:
    print("Not Connected")

Connection Succesfully

In [24]:
df.to_sql(name='walmart', con=engine_psql, if_exists='append', index=False)

969